{
    "lat": "",
    "lon": "",
    "wind_units": "beaufort",
    "temp_units": "celsius",
    "token": "",
    "history": false,
    "use_owm_icons": false,
    "min_max_annotations": false,
    "locale": "de_DE.UTF-8",
    "tz": "Europe/Berlin"
}
